[[source]]
name = "pypi"
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
matplotlib = "==3.1.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
